---
layout: page
---

<section class="home-section home-section--karaoke">
  <h2 class="home-section__title home-section__title--karaoke">Шоу «Намедни в караоке»</h2>

  <p>Летом 2017 года выходила передача «Намедни в караоке» на телеканале RTVi. Там же собирались снимать продолжение серий «Намедни» — 1946-1960, но от планов отказались.</p>

  <p><strong>Официальное описание:</strong> Легенда российского телевидения Леонид Парфенов возвращается на экраны с новым проектом «Намедни в караоке». Один год — одна песня и интересный гость в студии. Исторические события, личные воспоминания, и конечно любимые хиты.</p>

  <p>В выпусках приняли участие:</p>
  
  <ul class="karaoke-guests">
    <li>Юрий Стоянов</li>
    <li>Леонид Ярмольник</li>
    <li>Максим Виторган</li>
    <li>Владислав Третьяк</li>
    <li>Алексей Кортнев</li>
    <li>Андрей Макаревич</li>
    <li>Михаил Боярский</li>
    <li>Дмитрий Певцов</li>
    <li>Максим Аверин</li>
    <li>Ефим Шифрин</li>
  </ul>

</section>

<div class="home-blocks">
<div class="home-blocks__column">

  <section class="home-section">
      <h2 class="home-section__title">Книжная серия «Намедни. Наша Эра»</h2>
      <p>«Намедни. Наша эра» — проект журналиста Леонида Парфенова. В формате события-люди-явления собраны феномены советской и постсоветской жизни. Каждый год — от 30 до 40 феноменов.</p>
      <p>На данный момент выпущено 8 томов с 1931 по 2010 год. Планируется выход <a href="/volumes/1918-1930">тома «1918-1930»</a> (в 2019 году) и <a href="/volumes/2011-2015">тома «2011-2020»</a> (в 2021 году).</p>
      <p>Книги представляют собой двухкилогаммовые альбомы с большими фотографиями. На сайте доступны тексты для желающих ознакомиться с мнением Леонида Парфенова.</p>
      <img src="/img/home/namednibook-spread.jpg" alt=" Разворот книги «Намедни. Наша Эра»">
  </section>

</div>

<div class="home-blocks__column">
  <section class="home-section">
    <div class="home-movie__inner">
      <h2 class="home-section__title">Трилогия «Русские&nbsp;евреи»</h2>
      <p>Закончена работа над трилогией <a href="/russkie-evrei-2.html">«Русские евреи»</a>. Фильм шел в кинопрокате. В интернете отсутствует. Премьера на ТВ — не раньше второй половины 2018 года.</p>
      <img class="home-movie__poster home-movie__poster--vertical" src="/img/movies/rus-evrei-2.jpg">
      <img class="home-movie__poster home-movie__poster--horizontal" src="/img/home/rus-evrei-2-hor.jpg">
      <p>Фильм описывает роль евреев в истории России и разделен на три части: до революции, 1918-1948 и после 1949 года. В планах фильмы про «русских немцев» и «русских грузин» (по две серии каждый).</p>
    </div>
  </section>
  <section class="home-section">
    <h2 class="home-section__title">Последние фильмы</h2>
    <ul class="movies-list">
      <li>Цвет нации <span class="movies-list__year">2014</span></li>
      <li>Глаз Божий <span class="movies-list__year">2012</span></li>
      <li>Он пришёл дать нам волю <span class="movies-list__year">2011</span></li>
      <li>Зворыкин-Муромец <span class="movies-list__year">2010</span></li>
      <li>Хребет России <span class="movies-list__year">2009</span></li>
      <li>Птица-Гоголь <span class="movies-list__year">2008</span></li>
      <li>И лично Леонид Ильич <span class="movies-list__year">2007</span></li>
      <li>Война в Крыму — все в дыму <span class="movies-list__year">2004</span></li>
    </ul>
  </section>
  <section class="home-section">
    <h2 class="home-section__title">Цикл «Российская империя»</h2>
    <p>16-серийный проект Леонида Парфенова об истории российского государства с 1697 по 1917 год, выпущенный к 300-летию основания Российской империи.</p>
    <p>Через десять лет вышла серия книг «Российская империя», повторяющая телеверсию. На данный момент выпущено 3 тома из 5. Последний том «Александр I. Николай I» вышел в 2014 году.</p>
  </section>
</div>